* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5em;
    font: 15px/1.4 sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
}

nav {
    display: flex;
}

h2 {
    font-family: Georgia, sans-serif;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    text-align: right;
    list-style: none outside;
}

.nav-ul li a {
    text-decoration: none;
    color: #2fcc71;
}

main p {
    margin-top: 1em;
}