body {
    box-sizing: border-box;
    background: #FAEBC8;
    font-family: 'Open Sans', sans-serif;
}

section {
    background: white;
    border-radius: 1em;
    margin: 7em auto;
    width: 80%;
    text-align: center;
}

article {
    display: inline-block;
    width: 200px;
    height: 450px;
    padding: 1em 3em 0 3em;
    text-align: left;
}

h2 {
    text-align: center;
}

img {
    padding-left: 2.5em;
    width: 50%;
}

.author {
    padding-top: 2em;
    color: #7B3F00;
    font-style: italic;
    text-shadow: 15px 15px 2px rgba(0,0,0,0.4);
}
