* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
    max-width: 70vw;
    margin: 7em auto;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    flex-wrap: wrap;

}

article {
    flex-basis: 22%;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}
