@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 15px/1.5 sans-serif;
}

body {
    max-width: 100vw;
    min-height: 115vh;
    background-image: url("model-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.site {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    gap: 5em;
    justify-content: space-between;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 3em;
    color: black;
}

.site-title a {
    text-decoration: none;
    font: 21px/1.5 Helvetica sans-serif;
    color: black;
    font-weight: 600;
}

.site-header ul {
    display: flex;
    align-content: center;
}

.site-header .header-nav a {
    display: block;
    text-decoration: none;
    color: black;
}

.site-header .type {
    padding: 0.3em 1em;
}

.site-header .type:hover {
    border-radius: 0.2em;
    background: rgba(0,0,0,0.1);
}

.site-header .icon {
    border: 2px solid black;
    border-radius: 50%;
    font-size: 12px;
    padding: 0 0.5em;
    margin: 0.5em;
}

.site-header .icon:hover {
    background: rgba(0,0,0,0.2);
}

.site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35em;
}

.site-main .model h1 {
    font-size: 2.8em;
    font-weight: 54;
}

.site-main .more {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 2em;
}

.site-main .more button {
    border-radius: 0.3em;
    padding: 0.5rem 5.5rem;
    font: 15px/1.5 sans-serif;
}

.site-main .more button:first-child {
    border: 2px solid #2e2e2e;
    background-color: #2e2e2e;
    color: white;
}

.site-main .more button:last-child {
    border: 2px solid #D1D2D2;
    background-color: #D1D2D2;
    color: #2e2e2e;
}

.site-main .more button:focus {
    border: 2px solid white;
}

