* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    background-color: #e3e3e3;
    padding: 10em;
    justify-content: center;
}

.gallery {
    display: flex;
    max-width: 60em;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
}

.gallery li {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    list-style: none;
    border: 8px solid black;
    background-color: white;
    box-shadow: 0 0 0.5em 0.2em rgba(0,0,0,0.3) inset;
    padding: 2em 1em;
}

.gallery img {
    display: block;
    max-width: 100%;
    height: auto;
}

