* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

body > * {
    background-color: #a6e1ec;
    border-radius: 0.3em;
}

header, footer {
    flex: 1 1 100%;
    padding: 0.5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
}

main {
    flex: 1 1 65%;
    padding: 1em;
}

aside {
    flex: 1 1 25%;
    padding: 1em 1em 0.5em 1em;
}

main h2 {
    padding-bottom: 1em;
}

main ul li {
    list-style-position: inside;
    padding-left: 1em;
}

aside ul li {
    list-style-type: none;
    padding-bottom: 1em;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    header, nav ul {
        display: block;
    }
}