body {
    font: 16px/1.5 sans-serif;
}

.container {
    background: #e3e3e3;
    padding: 2em;
    width: 350px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

li {
    border-bottom: 1px solid black;
}