* {
    margin: 0;
    padding: 0;
}

*  {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 1em 1em 2.5em 1em;
    flex-basis: 25%;
}

.card p {
    padding-top: 0.5em;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

