/* reset */

* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* typography */

body {
    font: inherit;
}

html {
    font-family: Helvetica, sans-serif;
}

.site-div {
    max-width: 85em;
    margin: 2em auto 2em auto;
    padding: 2em;
}

.header-site {
    border-bottom: solid 2px;
}

.header-nav div, .header-nav ul, .header-nav ul li{
    display: inline-block;
}

.header-nav div, .header-nav ul {
    margin-bottom: 0.5em;
}

.header-nav div {
    font-size: 45px;
    font-weight: bold;
    margin-right: 2em;
}

.header-nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #2fcc71;
    margin-left: 2em;
}

main h1 {
    margin-top: 0.8em;
    font-weight: 500;
    font-family: serif;
}

p {
    padding-top: 1em;
}


