.main-nav {
    display: none;
}

.main-nav ul {
    padding: 0;
}

.main-nav li {
    display: block; /* make list elements block element (list-style is none) )*/
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

#nav-toggle {
    appearance: none;
    pointer-events: none;
}

@media (hover: hover) {

    .site-header label {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav ul {
        display: flex;
    }
}

@media (hover: none) {
    .site-header label #close {
        display: none;
    }

    #nav-toggle:checked + .site .site-header .main-nav {
        display: block;
        position: absolute;
        top: 5em;
        right: 1em;
        background: white;
        padding: 0.5em;
        z-index: 1000;
        border-radius: 0.3em;
        box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.3);
    }

    #nav-toggle:checked + .site .site-header .main-nav li + li {
        margin-top: 0.3em;
    }

    #nav-toggle:checked + .site .site-header .main-nav a {
        background: #16a085;
        border-radius: 0.3em;
    }

    #nav-toggle:checked + .site .site-header label #close {
        display: inline;
    }

    #nav-toggle:checked + .site .site-header label #menu {
        display: none;
    }

}





